#profilePage {
  // Desktop Style
  @media (min-width: 750px) {
    width: 40%;
    margin: auto;
  }

  // Mobile Style
  @media (max-width: 768px) {
    width: 80%;
    margin: auto;
    // padding-top: 0vh;
    // padding-top: 10vh;

    overflow: hidden;
  }

  .box {
    padding-top: 10vh;
  }
}
