.pageHeader

  $headerHeight: 80px;

  color:black;
  height: $headerHeight;
  border-bottom: 1px solid red;

  .desktop
    .logo
      border: 1px solid red;
      text-align: center;
      line-height: $headerHeight;
    
    .middle
      border: 1px solid blue;
      text-align: center;
    
    .right
      border: 1px solid blue;  


.pageContainer
  border: 1px solid red;


