#artListPage {

    // Desktop Style
    @media (min-width: 800px) {
        width: 100%;
        margin: auto;

        .column {
            padding: 10px;

            .artContainer {
                min-height: 250px;
            }
        }
    }


    .about {
        .headLine {
            position: relative;

            .mainImage {
                height: 50vh;
            }


            .headLine1 {
                position: absolute;
                bottom: 50%;
                left: 38%;
                color: white;
                font-size: 50px;
            }

            .headLine2 {
                position: absolute;
                bottom: 45%;
                left: 30%;
                color: white;
                font-size: 25px;
            }
        }
    }


    .detail {
        margin-top: 2%;
        text-align: center;
        font-size: 25px;
    }

    .filterOption {
        margin-top: 3%;
        margin-bottom: 2%;
        text-align: center;

        .filterBtn {
            display: inline-block;
        }
    }



    .artListContainer {
        .column {
            .artContainer {
                position: relative;
                width: 100%;
                background-size: cover !important;
                background-position-x: center !important;
                background-position-y: top !important;
                background-repeat: no-repeat !important;

                img {
                    width: 100%;
                }

                .artInfo {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: white;
                    padding-top: 50%;
                    text-align: center;
                    cursor: pointer;
                    opacity: 0;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }


    .viewAllArtBtn {
        text-align: center;
        margin-top: 2%;
        margin-bottom: 4%;

        button {
            width: 30%;
            height: 50px;
            margin: 0px;
        }

    }
}