#defaultPageLayout {
  background: white;
  color: black;

  .header {
    margin-top: 20px;
    display: flex;
    margin-left: 15px;
    font-size: 30px;
    margin-left: 5% !important;

    .rightSide {
      flex: 1;
      padding-right: 20px;
      //   border: 1px solid red;
      text-align: right;

      .searchBox {
        margin-right: 10%;
        display: inline-block;
        width: 30%;
        color: black;

        .v-text-field__details {
          display: none;
        }
      }

      // .title {
      //   padding-left: 20px;
      //   display: inline-block;
      //   //   font-size: 20px;
      //   margin-right: 10px;
      // }
    }
  }

  .footer {
    align-items: baseline;
    height: 37vh;
    width: 100%;
    color: black;
    background: white;
    position: absolute;
    margin-bottom: 0%;
    //display: block;

    .footerTitle {
      font-size: 50px;
      display: inline-block;
    }

    .footer1 {
      padding-left: 15%;
      display: inline-block;
    }

    .footer2 {
      padding-left: 7%;
      display: inline-block;
    }

    .copyRightDetail {
      margin-top: 2%;
      text-align: center;
      //display: block;
      position: absolute;
      right: 0;
      top: -5;
      bottom: 0;
      left: 0;
      padding: 1rem;
      // background-color: #efefef;
      // text-align: center;
    }

  }



}