#defaultPageLayout {
  background: white;
  color: black;

  .header {
    margin-top: 20px;
    display: flex;
    margin-left: 15px;
    font-size: 30px;
    margin-left: 5% !important;

    .rightSide {
      flex: 1;
      padding-right: 20px;
      //   border: 1px solid red;
      text-align: right;

      .searchBox {
        display: inline-block;
        width: 30%;
        color: black;

        .v-text-field__details {
          display: none;
        }
      }

      .title {
        padding-left: 20px;
        display: inline-block;
        //   font-size: 20px;
        margin-right: 10px;
      }
    }
  }

  .footer {
    align-items: baseline;
    height: 30vh;
    width: 100%;
    color: black;
    background: white;
    position: absolute;

    .footerTitle {
      font-size: 50px;
      display: inline-block;
    }

    .footer1 {
      padding-left: 15%;
      // display: inline-block;
    }

    .footer2 {
      padding-left: 5%;
      //  display: inline-block;
    }
  }
}
