#artDetailPage {
  // Desktop Style
  @media (min-width: 750px) {
    width: 70%;
    margin: auto;
    padding-top: 10vh;
  }

  // Mobile Style
  @media (max-width: 768px) {
    width: 100%;
    margin: auto;
    padding-top: 0vh;
    overflow: hidden;
  }

  .box {
    background: white !important;
    border-radius: 2px;

    -webkit-box-shadow: 5px 6px 227px 32px rgba(235, 235, 235, 1);
    -moz-box-shadow: 5px 6px 227px 32px rgba(235, 235, 235, 1);
    box-shadow: 5px 6px 227px 32px rgba(235, 235, 235, 1);

    .imageBox {
      padding: 0px;
      img {
        width: 100%;
      }
    }

    .rightSide {
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-direction: column;

      .title {
        padding: 10px 5%;
        border-bottom: 1px solid #efefef;
        width: 100%;
        display: flex;
        margin-left: 0px;
        .logoImg {
          border-radius: 50%;
          border: 1px solid #e6e6e6;
          height: 30px;
          margin-right: 20px;
          margin-top: 5px;
        }

        .titleName {
          font-weight: bold;
          flex: 1;
          line-height: 40px;
        }

        .settingsIcon {
          color: #555;
          padding: 5px;
          font-size: 20px;
          float: right;
        }
      }

      .commentListSection {
        // flex: 1;
        -webkit-flex: 1 1 auto;
        border-bottom: 1px solid #efefef;
        padding: 12px 5%;

        overflow: auto;

        // Desktop Style
        @media (min-width: 750px) {
          height: 0px;
        }

        // Mobile Style
        @media (max-width: 768px) {
          height: 300px;
        }

        .commentItem {
          padding-top: 7px;
          padding-bottom: 5px;

          .userImg {
            height: 30px;
            border-radius: 50%;
          }

          .commentContent {
            padding-left: 30px;
            font-size: 13px;
            .name {
              font-weight: bold;
              color: black;
              font-size: 15px;
            }
          }

          .commentEngagement {
            padding-top: 5px;
            font-weight: bold;
            color: #777;
          }
        }
      }

      .engageSection {
        padding: 12px 5%;

        .icon {
          margin-right: 20px;
          color: #99a8af;
        }

        .rightSide {
          float: right;
          padding-top: 4px;
          margin-right: 1%;
        }
      }

      .addCommentSection {
        padding: 12px 5%;
        border-top: 1px solid #efefef;
        width: 100%;
        display: flex;
        input {
          // border: 1px solid red;
          border: none;
          padding: 0px;
          width: 100%;
          &:focus {
            outline: none;
          }
        }

        .postBtn {
          float: right;
          font-weight: bold;
          font-size: 13px;
          padding: 0px;
        }
      }
    }
  }
}
