#artDetailPage {
  // Desktop Style
  @media (min-width: 750px) {
    width: 70%;
    margin: auto;
    padding-top: 10vh;
  }

  // Mobile Style
  @media (max-width: 768px) {
    width: 100%;
    margin: auto;
    padding-top: 0vh;
    overflow: hidden;
  }

  .pageLoader {
    height: 90vh;
    margin-top: 48vh;
    text-align: center;
  }

  .pageHeader {
    padding: 10px 5%;
    background: white;
    border-bottom: 1px solid #efefef;
    width: 100%;
    display: flex !important;
    margin-left: 0px;

    .logoImg {
      border-radius: 50%;
      border: 1px solid #e6e6e6;
      height: 30px;
      margin-right: 20px;
      margin-top: 5px;
    }

    .titleName {
      font-weight: bold;
      flex: 1;
      line-height: 40px;
      a {
        text-decoration: none;
        color: #212529;
      }
    }

    .settingsIcon {
      color: #555;
      font-size: 20px;
      float: right;
      button {
        height: 38px;
      }
    }
  }

  .box {
    background: white !important;
    border-radius: 2px;

    -webkit-box-shadow: 5px 6px 227px 32px rgba(235, 235, 235, 1);
    -moz-box-shadow: 5px 6px 227px 32px rgba(235, 235, 235, 1);
    box-shadow: 5px 6px 227px 32px rgba(235, 235, 235, 1);

    .imageBox {
      padding: 0px;
      min-height: 500px;
      background-size: cover !important;
      background-position-x: center;
      background-position-y: top;
    }

    .rightSide {
      padding: 0px;
      margin: 0px;
      display: flex;
      flex-direction: column;

      @media (max-width: 768px) {
        border-top: 1px solid #ddd;
      }

      .imageMetadata {
        padding: 20px;
        .readOnlyMetadata {
          .title {
            color: black;
            font-size: 16px;
            font-weight: bold;
          }
          .content {
            font-size: 14px;
            color: #444;
            margin-bottom: 20px;
          }
        }

        .editform {
          text-align: left;
          padding-left: 10px;
          padding: 20px 20px 30px 20px;
          font-size: 15px;
          margin: 0px;

          .form-group label {
            font: bold;
            margin: 0px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
